@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: 'Montserrat';
}

.calendar-container {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  max-width: 350px;
  align-items: center;
  justify-content: center;
  background: #FDB827;
  color: #022761;
}

h1, h2 {
  background: #FDB827;
  color: #022761;
}

.calendar-day {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #E8E8E8;
  color: #022761;
}

.calendar-day:hover {
  background-color: #f5f5f5;
}